<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="[%-5level] %d{HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Root>
          <Logger name="hello.config" level="trace"></Logger>
           <Logger name="hello.controller" level="trace"></Logger>
            <Logger name="hello.service" level="trace"></Logger>
             <Logger name="hello.repository" level="trace"></Logger>
             
          <Logger name="example.bean" level="trace"></Logger>
           <Logger name="example.json" level="trace"></Logger>
           <Logger name="example.log" level="trace"></Logger>
    </Loggers>
</Configuration>