<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{page.home.title}"></title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        <h1 th:text="#{page.home}"></h1>
        <h2>1 <a th:href="@{/admin}">Admin page (Spring Security protected, Need Admin Role)</a></h2>
        <h2>2 <a th:href="@{/user}">User page (Spring Security protected, Need User Role)</a></h2>
        <h2>3 <a th:href="@{/about}">Normal page</a></h2>
        <h2>4 <a th:href="@{/address}">Address page</a></h2>
        <h2>5 <a th:href="@{/setup}">Setup Page</a></h2>
        <h2>6 <a th:href="@{/proto}">Proto Page</a></h2>
        <h2>7 <a th:href="@{/greeting}">Greeting</a></h2>
        <h2>8 <a th:href="@{/international}">International</a></h2>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>