<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf + Spring Security + Setup Page</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

 
    <div class="starter-template">
        <h1>Manage User</h1>
         <p id="param_1" th:text="${param.message}">Test message</p>
 		<p id="param_none" th:text="${message}">Test message 2</p>

	    <h2><a th:href="@{/setup/users}">Setup default users Create admin/admin user/user</a></h2>
	    <h2><a th:href="@{/setup/testquery}">Setup test query - goes to error page</a></h2>
	    <h2><a th:href="@{/setup/testredirect}">Setup test redirect - goes to error page</a></h2>
	    <h2><a th:href="@{/setup/testforward}">Setup test forward - goes to error page</a></h2>
	
 </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>